.header .navbar-nav .nav-item.active .nav-link,
.header .navbar-nav .nav-item .nav-link:hover,
header.pb .header .navbar-nav .nav-item .nav-link:hover,
.view-btn,
.face.front,
.bottom-list ul li a:hover,
.card .card-body h3:hover,
.card:hover .card-body h3,
.post-nfo li:not(:first-child):hover,
.post-nfo li:not(:first-child):hover a,
.blog-single-post:hover .post_info > h3 a,
.cm-reply,
.widget-search form button,
.widget-catgs ul li a,
.ps-info > h3 a:hover,
.btn1,
.blog-grid-posts .post_info > a:hover,
.cont-links li a,
.cont-links li span,
.socio-links li a:hover,
.cont_info li i,
.cont_info li a,
.social_links li a:hover,
.view-change ul.nav-tabs .nav-link.active,
.card_bod_full .card-footer .btn-default,
.btn-default,
.sidebar.layout2 .ps-info > strong,
.more-feat i,
.contct-nf > span,
.apartment-sec .rate-info h5,
.comment-info:before,
.price > h2,
.agent_info > strong,
.agent:hover .agent_info h3 a,
.list-products .card:hover .card-body h3,
.social-links li a:hover,
.slick-prev:focus,
.slick-next:focus,
.slick-prev:before,
.slick-next:before,
.banner_text .card .card-footer > a,
.catg-icon > i,
.map-city-links ul li a:hover,
a.link,
.selected,
.dropdown-item.active, 
.dropdown-item:active,
.post-share > a:hover,
.footer-list i,
.h-card-body .title,
body ul.post-nfo a:hover,
.drop-menu.active .select > span, .drop-menu.active .select i, .drop-menu .dropeddown li:hover,
.header .navbar-nav .submit-btn a,
.header .navbar-nav .signin-btn a:hover,
.dropdown-item:focus, .dropdown-item:hover,
a,
.page-content .toggle-item h2:before,
.h-page-card .title a:hover {
	color: #D81212;
}

.header .navbar-nav .submit-btn a {
    color: #D81212 !important;
}

.cta,
.banner-search .btn,
.explore-feature .card .card-body i,
.cluster-visible,
.face.back,
.widget-tags > ul li a,
.post_info > a:hover,
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover,
.contact_form > form button:hover,
.post-comment-sec form button:hover,
.input-field input[type="radio"]:checked + label span,
.input-field input[type="checkbox"]:checked + label span,
.features-dv .input-field input[type="checkbox"] + label span,
.btn2,
.price:hover .btn-default,
.discover-text .btn-default,
.slick-prev:hover,
.slick-next:hover,
.banner_text .rate-info,
.btn-default.st1,
.categories-info:hover,
.card .card-footer a .la-heart-o:hover,.table-compare.table-hover>tbody>tr:not(:last-child):hover>td,.btn-default:hover,.favorites-actions .remove-from-favorites i.la-heart-o,
.footer-social a:hover,
.signin-btn b:before,
.success-message, 
body:after,
.error-message,
.btn.btn-local-primary,
.block-header,
.model-item .title:hover,.menu-onmap li label:hover,.menu-onmap li.active label,
body .winter_dropdown_tree .input-group-addon,
.currency-selector .drop-menu .dropeddown li:hover,
.language-selector .drop-menu .dropeddown li:hover,
.blog-single-post:hover .post_info > a {
	background-color: #D81212;
}

.marker-arrow {
    border-color: #D81212 transparent transparent;
}

.header .navbar-nav .submit-btn a,
.view-btn,
.cluster-visible:before,
.face.front,
.face.back,
.blog-single-post > blockquote,
.btn1,
.btn-default,
.btn.btn-local-primary,.currency-selector .drop-menu .dropeddown li:hover,
.language-selector .drop-menu .dropeddown li:hover,.menu-onmap li.active label:before,.menu-onmap li label:hover:before {
	border-color: #D81212;
}

.blog-img:before, .agent_img:before,
.bfr:before,
.blog-img:before, .agent_img:before,
.popular-cities .card .overlay,
.banner-search .btn:hover,
.banner::after,
.view-btn:hover, .view-btn:focus, .view-btn.active,
.sbmt-btn:hover,
.card .img-block:before, .card .img-block:after, .popular-cities .card:before, .popular-cities .card:after, .banner-search .btn:before, .banner-search .btn:after, .intro-content a:before, .intro-content a:after, .sbmt-btn:before, .sbmt-btn:after, .btn2:before, .btn2:after, .btn-default:before, .btn-default:after,
.card .img-block .overlay,
.srch-btn .overlay {
    background: rgba(216, 18, 18, 0.79);
}

.currency-selector .drop-menu .dropeddown li,
.language-selector .drop-menu .dropeddown li,
.currency-selector .drop-menu .dropeddown,
.language-selector .drop-menu .dropeddown,
.top-header {
    background: #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

a:hover {
    color: #8a1414;
}


.marker-cluster div, .cluster div {
    background: #8a1414 !important;
}


.marker-cluster div:before, .cluster div:before {
    border-color: #8a1414;
    -webkit-box-shadow: inset 0 0 0 4px #8a1414;
    box-shadow: inset 0 0 0 4px #8a1414;
}









@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-ExtraBold.woff2') format('woff2'),
        url('Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Thin.woff2') format('woff2'),
        url('Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

header .top-header {
    padding: 3px 0;
}
header .header {
    min-height: auto;
    padding: 10px 0 6px;
}
.header .navbar-brand img {
    max-width: 225px;
}
.header-address a:hover, .header-address a {
    display: inline-block;
    color: #151515;
    font-weight:300;
}
.header-address a i {
    font-size: 16px;
    margin-right: 6px;
    position: relative;
    top: 1px;
    color: #151515;
    border-radius: 50px;
    border: 1px solid #151515;
    padding: 2px 3px;
    width: 23px;
    height: 23px;
}
.header-address a span {
    font-size: 14px;
    font-weight: 300;
    position: relative;
}
.header-social a {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    padding: 0 1px;
    background: #3e3e3e;
    border-radius: 50px;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
}
.header .navbar-nav .nav-item .nav-link {
    color: #040404;
    font-size: 14px;
    position: relative;
    font-family: 'Gilroy';
    font-weight: 400;
}
.header .navbar-nav .submit-btn a {
    color: #fff!important;
    background: #e6181b;
    font-family: 'Gilroy';
    font-weight: 400;
    height: 40px;
    padding: 9px 20px;
    line-height: normal;
}
.header .navbar-nav .submit-btn a:hover{
    background: #000;
    border-color:#000;
}
.banner-content {
    margin-bottom: 90px !important;
}
.banner-content h1{
    font-family: 'Gilroy';
    margin-top: 0;
}
.banner-content h1 span{
    font-family: 'Gilroy';
    font-weight:400;
    font-size: 36px;
}
.menu-onmap li label {
    display: block;
    margin: 0px 20px;
    padding:0;
    margin-bottom: 15px;
    color: #000;
    background: transparent;
    transition: all .15s;
    font-size: 14px;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Gilroy';
    font-weight: 400;
}
.menu-onmap li.active label{
    background:transparent;
}
.menu-onmap li.active label:before {
    border: none;
    background: #e5181c;
    height: 2px;
    width: 100%;
    bottom: -10px;
    left: 0;
    margin: 0;
}
.menu-onmap li label:hover:before{
    border: none;
    background: #e5181c;
    height: 3px;
    width: 100%;
    bottom: -10px;
    left: 0;
    margin: 0;
}
.menu-onmap li label:hover{
    background:transparent;
}
body .banner::after{
    background: rgb(0 0 0 / 40%);
}
.banner-search {
    background: rgb(255 255 255 / 80%);
    border-radius: 10px;
    padding: 0px 7px 0px 10px;
    height: 65px;
}
.banner-search .form-control{
    background:transparent;
}
.drop-menu .select, .top-search div.form-group .winter_dropdown_tree button, 
input#search_option_smart{
    font-family: 'Gilroy' !important;
    font-weight: 300 !important;
    color: #000 !important;
}
body .banner-search.banner-search_init .search-additional-btn {
    display:none;
}
button#search-save {
    display: none;
}
.banner-search .srch-btn .btn i {
    margin-right: 0;
    line-height: 1;
    transform: rotate(259deg);
    color: #000;
    background: transparent;
}
.banner-search .srch-btn .btn:hover i {
    color:#D81212;
}
.banner-search .btn:before, .banner-search .btn:after{
    display:none;
}
.banner-search .btn, .banner-search .btn:hover {
    background: transparent;
}
body .banner {
    min-height: 500px;
    padding: 130px 0 130px;
}

.banner-search .form_field .drop-menu, .banner-search .form_field.sf_input .form-control, 
body .top-search .winter_dropdown_tree{
    border-left: 1px solid #c1c1c1;
}
.top-search .form_field_sw_range>.form-group {
    padding: 0 18px;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
}
.drop-menu .dropeddown li{
    font-size:12px;
}
.scale-range .noUi-handle {
    border: 7px solid #ffffff;
}
body .banner{
    background: url(https://digipanda.biz/realEstate/files/dubai-marina-sunset.jpg);
    background-size: cover;
    background-position: center;
}
input#search_option_smart::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
input#search_option_smart::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
input#search_option_smart:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
input#search_option_smart:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

.resp-grid.flex-dynamic.socail-icons {
    padding: 0;
    margin-right: -15px;
}
.section-heading span {
    font-size: 18px;
    color: #909090;
    float: left;
    width: 100%;
    margin-bottom: 12px;
    font-weight: 300;
    font-family: 'Gilroy' !important;
    font-weight: 300 !important;
    text-transform: uppercase;
}
.section-heading h3 {
    font-size: 32px;
    font-weight: 300;
    float: left;
    width: 100%;
    margin-top: -4px;
    color: #0b1116;
    text-transform: uppercase;
    font-family: 'Gilroy' !important;
    font-weight: 300 !important;
}
.card .img-block:before, .card .img-block:after, .card .img-block .budget, 
.rate-info:before {
    display:none;
}
.card .img-block .overlay{
    display:none;
}
.popular-listing.hp2 .card .carousel-item img {
    border-radius: 20px !important;
    overflow: hidden;
}
.popular-listing.hp2 .card .img-block{
    border-radius: 20px;
    overflow: hidden;
}
.popular-listing.hp2 .card .card-body{
    border:none;
}
.popular-listing.hp2 .card .card-footer{
    border-left:0px;
    border-right:0px;
}

.popular-listing.hp2 .card {
    border-radius: 0 0 20px 20px;
}

.card .card-body ul li{
    font-family: 'Gilroy';
    font-weight: 400;
}
.card .card-body h3{
    margin-bottom:10px;
}
.popular-cities {
    background: #eff3f4;
}
.footer_area {
    background: url(../img/footer-bg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    padding-top: 20px;
    border-radius: 40px 0 0 0;
}
.footer-content{
    border:none;
}
.copyright p {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 14px;
    color: #878787;
}
.footer-list li a {
    color: #878787;
}
.footer-list li a, .footer-list li {
    color: #878787;
    font-family: 'Gilroy';
    font-weight: 400;
    line-height: 24px;
}
.widget-footer-contacts h3, .bottom-list.widget-follow-us h3 {
    color: #fff;
}
.footer-list i{
    color:#fff;
}
section.footer_area p.description {
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 26px;
}
.footer-social a {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #e0e1e6;
    color: #000000;
    display: inline-block;
    line-height: 29px;
    border-radius: 50px;
    font-size: 13px;
    margin: 0px 0px 0px 10px;
    background: #fff;
}
.footer_area .col-xl-3.col-sm-6.col-md-4.widget_edit_enabled{
    margin-top: -20px;
}
.footer_area .col-xl-3.col-sm-6.col-md-3.widget_edit_enabled {
    border-left: 0.1px;
    border-style: solid;
    border-image: linear-gradient( #3c3c3c00, #3c3c3c, rgb(0 0 0 / 0%) ) 1 100%;
}

.footer_area .col-xl-3.col-sm-6.col-md-3.widget_edit_enabled {
    padding-top: 25px;
    position:relative;
}
.footer_area .col-xl-3.col-sm-6.col-md-3.widget_edit_enabled:before{
    content:'';
    border-top: 1px solid #292929;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.explore-feature .card {
    border-radius: 10px;
}
.explore-feature .card .card-body h3 {
    font-size: 18px;
    margin: 25px auto 10px auto;
    color: #0b1116;
    font-weight: 200;
    min-height: auto;
    line-height: 24px;
}
.explore-feature .card .card-body p {
    font-size: 14px;
}
section.popular-cities.hp_s1.section-padding.widget_edit_enabled {
    padding: 70px 0 60px;
    margin: 50px 0;
}
.testimonial_gb{
    background: url(../img/testi-bg.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0px 0 90px;
    border-radius: 8px;
    margin: auto;
}
body .testimonial-sec.section-padding {
    padding: 60px 40px 80px;
}
.testimonial-sec span, .testimonial-sec .section-heading h3 {
    color: #fff;
}
.testimonail-sect .comment-info > p {
    border: none;
    font-size: 24px;
    color: #fff;
    font-family: 'Gilroy';
    font-weight: 200;
    line-height: 42px;
    text-align: center;
    max-width: 750px;
    margin: auto !important;
    width: auto;
    float: none;
    padding: 140px 0px 30px 0;
}
.cm-info-sec .cm-info h3 {
    font-weight: 100;
    color: #fff;
}
.comment-info .cm-info {
    padding-top: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-info .cm-info > h4 {
    padding-left: 3px;
}
.comment-info .cm-info-sec{
    padding-top:0;
}
.cm-img {
    display: block;
    width: 61px;
    margin: auto;
    float: none;
}
.testi_title {
    width: 100%;
    color: #909090;
    text-transform: uppercase;
    font-family: 'Gilroy' !important;
    font-weight: 400 !important;
    font-size: 18px;
    margin-bottom: 60px;
}
.comment-info:before{
    display:none;
}
.testimonial_gb .cm-img img {
    background: #fff;
    padding: 2px;
    border-radius: 50%;
}
.testimonial_gb .cm-img{
    width:85px;
}
.intro .intro-img img {
    border-radius: 10px;
}
.intro-thumb-row .intro-thumb {
    border-radius: 8px;
}
.intro-thumb h6{
    font-weight:normal;
}
.intro-content h3{
    font-weight:300;
}
.testimonial_gb .slick-list {
    margin-top: -85px;
}
.load-more-posts > .btn2 {
    padding: 0 20px 0 20px;
    width: auto;
    float: none;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-weight: 100;
}
.intro-thumb-row{
    display:none;
}
.intro .intro-img {
    padding-left: 0px;
    height: 100%;
}
.intro .intro-img img.img-fluid {
    height: 100%;
}
.intro .intro-img img {
    border-radius: 0 30px 30px 0;
}
.intro-content.bg-black {
    background: #000;
    height: 100%;
    border-radius: 30px 0 0 30px;
    padding: 40px 40px 60px;
    display: flex;
    align-items: center;
}
span.title-sub-top {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
    background: -webkit-linear-gradient(45deg, #afafaf, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.AddOff_c h3 {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 58px;
    color: #fff;
    position: relative;
    background: -webkit-linear-gradient(45deg, #afafaf, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.AddOff_c h3:after {
    content: '';
    position: absolute;
    background: #e5181c;
    width: 200px;
    height: 7px;
    left: 0;
    bottom: -30px;
}
.popular-cities .overlay, .popular-cities .card:before, 
.popular-cities .card:after{
    display: none;
}
.form_sec {
    background-color: #4b4b4b;
}
section.widget_edit_enabled.cta.section-padding {
    background: #000;
}
a.btnrk {
    background: #000000;
}
a.btnrk:hover {
    background: #e6171b;
    color: #fff;
}
#main .content-box.local-form .btn{
    color: #fff;
    background-color: #e6171b;
    border-color: #e6171b;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 100;
}
.fileupload-buttonbar.row .btn {
    border-radius: 50px !important;
    font-size: 14px;
    padding: 8px 25px;
    font-weight: 100;
}
.form-estate .form-group .form-control {
    border: 1px solid #e0e1e6;
    border-radius: 0;
    min-height: 48px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 50px;
}
.explore-feature .card.card_services {
    border: none;
    max-width: 300px;
    margin: auto;
}

.explore-feature .card.card_services i.icon-sevices {
    background: #fff;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 6%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90px;
    height: 90px;
}
.explore-feature .card.card_services i.icon-sevices img {
    max-width: 40px;
}
.explore-feature .card.card_services i.icon-sevices:hover{
    background:#e6181b;
}
.explore-feature .card.card_services .card-body:hover, 
.popular-listing .card.card_services:hover{
    box-shadow:none;
}
body .explore-feature .card.card_services:hover .card-body i {
    background: #e6181b;
}
.explore-feature .card.card_services i.icon-sevices:hover img {
    filter: invert(1);
}
body .explore-feature .card.card_services:hover .card-body i img{
    filter: invert(1);
}
.explore-feature .card.card_services h3 {
    color: #323131;
    font-weight: 600;
    font-size: 16px;
    margin: 18px 0 8px;
}
.explore-feature .card.card_services p {
    color: #151515;
}
.container.container_width {
    max-width: 1080px;
    margin: auto;
}
.popular-cities .card.popular_locations img.img-fluid {
    width: 85px;
    height: 85px;
    border-radius: 50px;
    margin: auto;
    margin-top: -45px;
    border: 3px solid #fff;
}
.popular-cities .card.popular_locations .card-body:before{
    display:none;
}
.popular-cities .card.popular_locations {
    border-radius: 15px;
    transition:all 0.4s ease-in-out;
}
.popular-cities .card.popular_locations .card-body {
    position: static;
}
.popular-cities .card .card-body h4 {
    color: #000;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    float: none;
    font-weight: 300;
    transition:all 0.4s ease-in-out;
}
.popular-cities .card .card-body i {
    position: static;
    border: 1px solid #e5181c;
    padding: 0;
    color: #e5181c;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.popular-cities .card.popular_locations .card-body {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 10px;
}
.popular-cities .card.popular_locations:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
    transition:all 0.4s ease-in-out;
}
.popular-cities .card.popular_locations:hover .card-body h4 {
    color: #e5181c;
}
.sellers_card {
    background: linear-gradient(to right, red, orange);
    border-radius: 12px;
    padding:1px;
}
.sellers_card .card-body {
    display: flex;
    align-items: flex-start;
    background: #fff;
    border-radius: 12px;
    padding:12px 8px;
}
.sellers_img {
    border-radius: 50px;
    width: 21%;
}
.sellers_img img {
    border-radius: 50px;
    width: 60px !important;
    height: 60px;
    border: 2px solid #ff000087;
}
.sellers_name_row {
    display: flex;
    align-items: center;
}
.seller_name_title {
    font-size: 13px;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.3px;
}
.seller_name_title {
    font-size: 13px;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    margin-right:8px;
}
.sellers_detail {
    width:79%;
}
.seller_expert {
    display: block;
    width: 100%;
    background: linear-gradient(to right, red, orange);
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    border-radius: 6px;
    padding: 1px;
}
.seller_location span {
    background: linear-gradient(to right, #96969629, #ffa50033);
    color: #000;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    border-radius: 6px;
    padding: 2px 15px;
    margin: 6px 0 15px;
    display: inline-block;
}
.seller_exp_pro {
    display: flex;
    align-items: flex-end;
    place-content: space-between;
}
.seller_exp, .seller_property {
    font-size: 13px;
    color: #666;
}
.seller_exp b, .seller_property b{
    color:#000;
}
.popular-cities .card.popular_locations .card-body p{
    display:none;
}

section.explore-feature.seller-bg {
    background: #eff3f4;
    padding: 70px 0 70px !important;
}
@media (max-width: 1400px) {
    .sellers_img img {
        border-radius: 50px;
        width: 50px;
        height: 50px;
        border: 2px solid #ff000087;
    }
    .seller_expert{
        font-size:11px;
    }
}



.blog-grid-posts .post_info{
    border:none;
}
.blog-grid-posts .blog-single-post {
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgb(0 0 0 / 12%);
    border-radius: 10px !important;
    overflow: hidden;
}
.blog-grid-posts .blog-single-post .post_info>a {
    padding: 8px 15px;
    border-radius: 30px;
}
.blog-grid-posts .blog-single-post .post_info > a:hover{
    color:#fff;
}
.blog_news_peh {
    font-size: 14px;
    line-height: 26px;
    color: #67686c;
    font-family: raleway,sans-serif;
    max-width: 300px;
}
.post-nfo.post_date {
    margin-top: -40px !important;
    background: #f8223b;
    max-width: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    border-radius: 4px;
    padding: 6px 2px;
}
.post-nfo.post_date li {
    margin: 0 !important;
    color: #fff;
    text-align: center;
    font-weight: 200;
}
.post_info h3 a {
    color: #282f44;
    font-size: 24px;
    padding-top: 20px;
    display: block;
}
.read_more_blog {
    background: #111;
    color: #fff !important;
    padding: 9px 20px !important;
    display: inline-block;
    font-size: 14px !important;
}
.blog-img:before{
    background: rgb(0 0 0 / 25%);
}
.view-posts {
    display:none;
}
.blog-single-post:hover .post_info > h3 a {
    color: #333;
}
.owl-carousel .owl-nav.disabled {
    display: block;
}
.owl-stage { left: -100px; } 
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.owl-carousel .owl-nav .owl-next {
    right: 0;
    top: 0;
    left: auto;
    margin: auto;
    bottom: 0;
}
.owl-carousel .owl-nav .owl-prev {
    left: 0;
    top: 0;
    right: auto;
    margin: auto;
    bottom: 0;
}
.popularCitiesSliderAJ .owl-stage-outer{
    padding-top:80px;
}
.popularCitiesSliderAJ.owl-carousel.owl-theme.mt-5 {
    margin-top: 0 !important;
}
.popularCitiesSliderAJ.owl-carousel.owl-theme .owl-stage {
    left: auto;
}
.popularCitiesSliderAJ.owl-carousel .owl-nav .owl-prev {
    left: -60px;
    top: 25%;
}
.popularCitiesSliderAJ.owl-carousel .owl-nav .owl-next {
    right: -60px;
    top: 25%;
}
.sellers_card {
    margin: 20px 0px;
}
.ourBlogSliderAJ .owl-stage {
    left: auto;
}
.ourBlogSliderAJ.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -422px;
    display:flex;
}
.ourBlogSliderAJ.owl-carousel .owl-nav .owl-prev, .ourBlogSliderAJ.owl-carousel .owl-nav .owl-next{
    position:static;
    background:#eff1f6;
    width:50px;
    height:50px;
    margin-right:20px;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}
.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover{
    background:#f8223b;
    color:#fff;
}
.popularCitiesSliderAJ.owl-carousel .owl-nav .owl-next, .popularCitiesSliderAJ.owl-carousel .owl-nav .owl-prev {
    background: transparent;
    box-shadow: none;
    border: 1px solid #333;
    font-size: 18px;
    width: 35px;
    height: 35px;
}
.popularCitiesSliderAJ.owl-carousel .owl-nav .owl-next:hover, .popularCitiesSliderAJ.owl-carousel .owl-nav .owl-prev:hover {
    color:#f8223b;
    border-color:#f8223b;
}
.resp-grid.flex-dynamic.socail-icons {
    display: flex;
    justify-content: flex-end;
}
.loginSignupAJ {
    margin-right: 30px;
}
.loginSignupAJ a {
    padding: 2px;
    color: #535050;
    font-weight: 200;
}
.loginSignupAJ a:hover {
    color: #D81212;
}
section.pager-sec.bfr.widget_edit_enabled:before {
    background: rgb(0 0 0 / 79%);
}
.header .navbar-nav .submit-btn a {
    color: #fff!important;
    background: #e6181b;
    font-family: 'Gilroy';
    font-weight: 300;
    height: auto;
    padding: 11px 20px;
    line-height: normal;
}
.loginSignupAJ .nav-link {
    display: block;
    padding: 0;
}

.widget-panel.border {
    border-radius: 10px;
}
.alert-info {
    border-radius: 10px;
}
.sign-form-wr {
    background-color: #ffffff;
}
.sign-form-wr .tab-content {
    float: initial;
    width: initial;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    border-radius: 10px;
    overflow: hidden;
}
body:after{
    background-color: #000000;
}
.recommendedSellerSliderAJ.owl-carousel .owl-nav .owl-prev{
    left:-30px;
}
.recommendedSellerSliderAJ.owl-carousel .owl-nav .owl-next{
    right:-30px;
}
.section-heading span {
    display: none;
}
.popular-listing.section-padding.hp2, .popular-listing.section-padding {
    padding-bottom: 80px;
}
.popular-listing.section-padding .section-heading{
    border-top: 1px solid #eee;
    padding-top: 70px;
}
section.popular-cities.hp_s1.section-padding.widget_edit_enabled{
    margin-top:80px;
}
.menu-onmap li.active label, .menu-onmap li label:hover {
    color: #F44336;
}
.menu-onmap {
    max-width: 550px;
    padding: 20px;
    background: #fffffff0;
    border-radius: 8px;
    box-shadow: -2px 0px 5px 0 #00000036;
    margin-bottom: -20px;
}
.banner-search_box.banner-search.row {
    background: #fff;
}
form.row.banner-search.search-form.top-search.banner-search_init {
    display: flex !important;
    background: #00000080;
    padding: 40px 20px 20px;
    border-radius: 10px;
}
.seller_name_title a {
    font-size: 13px;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.3px;
}
.nav-item.agent_login_btn {
    display: flex;
    align-items: center;
}
.nav-item.agent_login_btn .sbmt-btn {
    font-weight: 700 !important;
    color: #535050 !important;
}
.nav-item.agent_login_btn .sbmt-btn i{
    margin-right:4px;
}
.nav-item.agent_login_btn a:after, .nav-item.agent_login_btn a:before{
    display:none;
}
.nav-item.agent_login_btn a:hover{
    background:transparent;
    color:#e6181b !important;
}
.agent_login_btn:hover span, .agent_login_btn:hover i {
    color: #e6181b;
}
.header .navbar-nav .nav-item {
    margin-right: 15px;
}
.explore-feature .card.card_services {
    border: none;
    background: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 6%);
    margin: 15px 0;
    padding:50px 30px !important;
    max-width:100%;
}
.explore-feature .card.card_services .card-body {
    padding:0 !important;
}
.explore-feature .card.card_services p {
    color: #151515;
    padding: 6px 40px 0;
}

.menu-onmap {
    max-width: 460px;
    padding: 55px 10px 15px;
    background: #fffffff0;
    border-radius: 8px;
    box-shadow: -2px 0px 5px 0 #00000036;
    margin-bottom: -20px;
}
ul.menu-onmap.tabbed-selector li:nth-child(1) label:after{
    content:'';
    position:absolute;
   top: -35px;
    left:-12px;
    right:0;
  background: url(../selfImages/all_icon.png);
  display: block;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  width: 40px;
height: 36px;
  background-repeat: no-repeat;
  margin: auto;
}

ul.menu-onmap.tabbed-selector li:nth-child(2) label:after {
    content:'';
    position:absolute;
    top: -35px;
    left:-8px;
    right:0;
  background: url(../selfImages/buy_icon.png);
  display: block;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  width: 40px;
    height: 36px;
  background-repeat: no-repeat;
  margin: auto;
}
ul.menu-onmap.tabbed-selector li:nth-child(3) label:after{
    content:'';
    position:absolute;
    top: -35px;
    left: -6px;
    right:0;
  background: url(../selfImages/for-rent_icon.png);
  display: block;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  width: 40px;
    height: 36px;
  background-repeat: no-repeat;
  margin: auto;
}
ul.menu-onmap.tabbed-selector li:nth-child(4) label:after {
    content:'';
    position:absolute;
    top: -35px;
    left: 0;
    right:0;
  background: url(../selfImages/buy_rent_p.png);
  display: block;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  width: 40px;
    height: 36px;
  background-repeat: no-repeat;
  margin: auto;
}
ul.menu-onmap.tabbed-selector li:hover label:after{
  background-position: 0px -37px;
}
ul.menu-onmap.tabbed-selector li.active label:after{
    background-position: 0px -37px;
}
.menu-onmap li {
    display: inline-block;
    margin: 0 12px;
}
.banner-content {
    margin-bottom: 140px !important;
}
.ourBlogSliderAJ .product-wrap {
    padding:0 20px;
}
.scale-range .noUi-handle {
    border: 7px solid #e0e1e6;
}
.form_sec {
    padding-top: 110px !important;
}
.header .navbar-nav .submit-btn a i{
    margin-right:6px;
}
section.widget_edit_enabled.cta.section-padding {
    background: #fff;
    color: #222;
}
section.widget_edit_enabled.cta.section-padding h2 {
    color: #222;
}
button.btn.btn-outline-primary.sw-search-start {
    background: #333;
    border-radius: 4px !important;
}
button.btn.btn-outline-primary.sw-search-start i.fa.fa-spinner.fa-spin.fa-ajax-indicator {
    color: #fff !important;
}
footer.footer {
    background: #222;
}
div#form-contact h3.widget-title {
    background: #eee;
    padding: 15px;
    border-radius: 4px;
}
.header .navbar-nav .nav-item.submit-btn {
    margin-right: 0;
}



/* Custom Form */
.navbar-brand.CusTom_Logo {
    animation: 300ms linear 0s 1 normal none running animation-1qbobka;
    object-fit: cover;
    width: 100%;
    margin: 0px auto 10px;
    display: block;
    padding: 20px 20px 0px;
}
.AppForm{
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 27px 0 rgba(0,0,0,0.1);
    background: #fff;
    margin: 0 auto;
    pointer-events: initial;
    position: relative;
    max-width: 520px;
    padding: 38px 20px 37px;
    overflow: hidden;
}
.header-title{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 24px 24px 16px 24px;
    margin: -35px -20px 0px -20px;
}
.header-icon{
    width: 36px;
    height: 36px;
    border-radius: 16px;
    background-color: #e9eaf0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
}
.img-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ee1d24;
}   
.header-lael {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 16px;
}
.header-lael label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-top: 6px;
}
.form .form-group {
    position: relative;
    display: block;
    margin-top: 20px;
    -webkit-letter-spacing: 0.2px;
    -moz-letter-spacing: 0.2px;
    -ms-letter-spacing: 0.2px;
    letter-spacing: 0.2px;
    padding:0;
}
.form .form-control {
    display: block;
    background: none;
    padding: 0 10px 8px 0px;
    border-width: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    box-shadow: none;
    outline: none;
    height: 35px;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    margin-top: 0px;
    border-radius: 0px;
    z-index: 1;
    position: relative;
}   
.form label {
    position: absolute;
    left: 0;
    top: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    font-size: 16px;
    font-weight: 300;
    color: #bfc0c6;
    z-index: 0;
}
.form select.form-control:not([size]):not([multiple]) {
    border: none;
    display: block;
    background: none;
    padding: 0 10px 8px 0px;
    border-width: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    box-shadow: none;
    outline: none;
    height: 35px;
    font-size: 16px;
    font-weight: 300;
    color: #bfc0c6;
    margin-top: 0px;
    border-radius: 0px;
    z-index: 1;
    position: relative;
}
.radio-row {
    margin: 0;
}
.radio-field {
    position: relative;
    min-height: 70px;
    padding: 8px 8px 0px 0;
    display: inline-block;
}
.radio-field input[type=radio] {
    display: none!important
}
.radio-field label {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    height: 55px;
    padding: 10px 25px;
    font-size: 14px;
    color: #222;
    text-align: center;
    border-radius: 10px;
    border: solid 1px #ebebeb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    font-weight: 400;
}
.radio-field input[type=radio]+label {
    cursor: pointer!important;
    z-index: 1
}

.radio-field input[type=radio]:checked+label {
    background-color: #ffdbd9!important;
    border-color: #fdd0ce;
}
.form h6 {
    font-size: 12px;
    font-weight: 400;
}
.form select.form-control {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    font-size: 18px;
    font-weight: 300;
    color: #bfc0c6;
}
.form label.form-check {
    color: #000;
    font-size: 14px;
}
.form label.form-check.font-bold {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    white-space: normal;
    top: -4px;
}
.text-trm-condition {
    font-size: 14px;
    margin-bottom: 30px;
    color: #000;
    padding-left: 20px;
}
.text-trm-condition a{
    color: #ee1d24;
}
button.btn.btn-submit {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    border: none;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    max-width: 480px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background-color: #ee1d24;
    border-bottom: solid 3px #bd070e;
}
button.btn.btn-submit:hover {
    background-color: #333;
    border-bottom: solid 3px #000;
}

.form input:focus  ~ label {
    top: -1.5em;
    font-weight: 500;
    color: #7f7f7f;
    font-size: 12px;
}



@media (max-width: 1300px) {
    section.explore-feature .container-fluid .row .col {
        max-width: 33%;
        flex-basis: inherit;
    }
    .intro.section-padding {
        padding: 60px 0 30px;
    }
    .container {
        padding: 0 15px;
    }
    body .testimonial-sec.section-padding {
        padding: 60px 15px 80px;
    }
}

@media (max-width: 1200px) {
    .ourBlogSliderAJ.owl-carousel .owl-nav {
        left: -390px;
    }
    .popularCitiesSliderAJ.owl-carousel .owl-nav .owl-prev{
        left:0;
    }
    .popularCitiesSliderAJ.owl-carousel .owl-nav .owl-next{
        right:0;
    }
}
@media (max-width: 1199px) {
    .ourBlogSliderAJ.owl-carousel .owl-nav {
        left: -340px;
    }
}

@media (max-width: 991px) {
    .ourBlogSliderAJ.owl-carousel .owl-nav .owl-prev, .ourBlogSliderAJ.owl-carousel .owl-nav .owl-next{
        position:absolute;
    }
    .ourBlogSliderAJ.owl-carousel .owl-nav{
        position:static;
    }
    .intro-content.bg-black {
        border-radius: 30px 30px 0 0;
    }
    .intro .intro-img img {
        border-radius: 0 0 30px 30px;
    }
    .header .navbar-brand img {
        max-width: 200px;
        vertical-align: middle;
    }
}


@media (max-width: 767px) {
    .header .navbar-brand img {
        max-width: 150px;
        vertical-align: middle;
    }
    .loginSignupAJ {
        margin-right: 0;
    }
    .header .navbar {
        min-height: auto;
    }
    .banner-content {
        margin-bottom: 20px !important;
    }
    .menu-onmap li label{
        color:#333;
    }
    body .banner {
        min-height: 550px;
        padding: 50px 0 60px;
    }
    .menu-onmap li.active label, .menu-onmap li label:hover {
        color: #F44336;
    }
    .banner-search .srch-btn .btn i {
        margin-right: 0;
        line-height: 1;
        transform: rotate(259deg);
        background: #F44336;
        border-radius: 30px;
        padding: 10px;
        color: #fff;
    }
    .menu-onmap li.active label:before{
        z-index:1;
    }
    .banner-search .menu-onmap li label{
        font-weight:500;
    }
    .owl-stage {
        left: auto;
    }
    section.explore-feature .container-fluid .row .col {
        max-width: 50%;
        flex-basis: inherit;
    }
    .AddOff_c h3 {
        font-size: 32px;
        text-transform: uppercase;
        line-height: 38px;
    }
    .AddOff_c h3:after{
        height:4px;
    }
    section.popular-cities.hp_s1.section-padding.widget_edit_enabled{
        padding-top:70px !important;
    }
    .explore-feature.hp7.section-padding{
        padding:20px 0 0;
    }
    .testimonial_gb .cm-img {
        width: 85px;
        display: block;
    }
    .testimonail-sect .comment-info > p{
        font-size:20px;
        line-height:32px;
        padding-left:15px;
        padding-right:15px;
    }
    .ourBlogSliderAJ.owl-carousel .owl-nav .owl-prev, .ourBlogSliderAJ.owl-carousel .owl-nav .owl-next{
        margin-right:0;
        width: 32px;
        height: 32px;
    }
    section.footer_area .bottom.section-padding {
        padding-bottom: 0 !important;
    }
    footer.footer {
        padding-bottom: 25px;
    }
    input#search_option_smart {
        background: #fff;
        margin-top: 30px;
        box-shadow: 0 0 2px rgb(0 0 0 / 17%);
    }
    body .top-search .winter_dropdown_tree{
        box-shadow: 0 0 2px rgb(0 0 0 / 17%);
    }
    .menu-onmap li label{
        margin:0 20px;
    }
    header .top-header {
        padding: 3px 0;
        display: none;
    }
    .wdk_mobile_footer_menu {
        background: #fff;
        border-top: none;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;
        box-shadow: 0 0 10px rgb(0 0 0 / 18%);
    }
    .wdk_mobile_footer_menu i {
        font-size: 18px;
        color: #666;
    }
    .header .navbar-nav .nav-item .nav-link.sbmt-btn {
        padding: 8px;
    }
    .recommendedSellerSliderAJ.owl-carousel .owl-nav .owl-prev{
        left:-10px;
    }
    .recommendedSellerSliderAJ.owl-carousel .owl-nav .owl-next{
        right:-10px;
    }

    form.row.banner-search.search-form.top-search.banner-search_init{
        background:#fff;
    }
    .menu-onmap {
        box-shadow: none;
    }
    ul.menu-onmap.tabbed-selector li label:after{
        left:0 !important;
    }
    .banner-search_box.banner-search.row .form_field{
        margin-top:1px;
    }
    .banner-search{
        height:auto;
    }
    .banner-content h2, .banner-content h1{
        margin-bottom:15px;
    }
    form.row.banner-search.search-form.top-search.banner-search_init{
        padding: 45px 0px 10px;
    }
}

@media (max-width: 480px) {
    section.explore-feature .container-fluid .row .col {
        max-width: 100%;
        flex-basis: inherit;
    }
    .menu-onmap li label{
        margin:0 1px;
    }
    .recommendedSellerSliderAJ.owl-carousel .owl-nav .owl-prev{
        left:-5px;
    }
    .recommendedSellerSliderAJ.owl-carousel .owl-nav .owl-next{
        right:-5px;
    }
}














